# DEVELOPMENT ENVIRONMENT
NODE_ENV=development
PORT=5000
MONGO_URI=mongodb://localhost:27017/finance

# Allow frontend di localhost
CORS_ORIGIN=http://localhost:3000

# PRODUCTION ENVIRONMENT (untuk deploy)
# NODE_ENV=production
# PORT=5000
# MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/finance?retryWrites=true&w=majority
# CORS_ORIGIN=https://your-app.vercel.app
